
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <div id="loginpad">
  <ion-list id="login">
    <ion-item lines="none">
      <ion-label>Benutzername:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Passwort:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
  </ion-list>
  <div id="logbut"><button>Login</button></div>
</div>
<ion-content>

</ion-content>
